parallelism = 2

[graph]
vertex_list_input_file = "vertices-compass.csv.gz"
edge_list = { input_file = "edges-compass.csv.gz" }

[mapping]
type = "edge"
tolerance.distance = 500.0
tolerance.unit = "meters"
queries_without_destinations = false
matching_type = ["point", "vertex_id", "edge_id"]

[mapping.geometry]
type = "from_linestrings"
geometry_input_file = "edges-geometries-enumerated.txt.gz"

[search.traversal]
type = "distance"
distance_unit = "miles"

# based on 65.5 cents per mile 2023 IRS mileage rate, $/mile
[cost.vehicle_rates.trip_distance]
type = "distance"
factor = 0.655
unit = "miles"


[plugin]
input_plugins = [
    { type = "grid_search" },
    { type = "load_balancer", weight_heuristic = { type = "haversine" } },
]

[[plugin.output_plugins]]
type = "summary"

[[plugin.output_plugins]]
type = "traversal"
route = "geo_json"

[plugin.output_plugins.summary_ops]
edge_distance = "sum"
trip_distance = "last"
